{% extends 'layout.html' %}

{% block title %} Login Page {% endblock %}
{% block content %}
<div class="flex justify-center items-center h-screen bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-lg w-96">
    <h2 class="text-2xl font-bold text-center mb-6 text-black">Login</h2>

    <form method="post" class="space-y-4">
      {% csrf_token %}
      {% include "partial/app_input.html" with type="text" name="username" id=form.username.id_for_label value=form.username.value placeholder="Enter username" errors=form.username.errors %}
      {% include "partial/password_input.html" with name="password" id=form.password.id_for_label value=form.password.value placeholder="Enter password" errors=form.password.errors toggle_id="toggle-password" %}

      {% if form.errors %}
        <div class="text-red-500 font-semibold">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
      
      <button
        type="submit"
        class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600"
      >
        Login
      </button>
    </form>

    <p class="text-center text-sm text-gray-600 mt-4">
      Don't have an account?
      <a href="{% url 'register' %}" class="text-blue-500">Register</a>
    </p>
  </div>
</div>
{% endblock %}