<div class="relative">
    <input
      type="password"
      name="{{ name }}"
      id="{{ id }}"
      value="{{ value|default_if_none:'' }}"
      class="w-full p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-200 text-black"
      placeholder="{{ placeholder }}"
    />
    {% if errors %}
      <p class="text-red-500 text-sm mt-1">{{ errors.0 }}</p>
    {% endif %}
    <button
      type="button"
      id="{{ toggle_id }}"
      class="absolute right-2 top-2 text-gray-500"
    >
      🙈
    </button>
  </div>
  
  <script>
    function togglePasswordVisibility(toggleId, inputId) {
      document
        .getElementById(toggleId)
        .addEventListener("click", function () {
          var passwordField = document.getElementById(inputId);
          var type =
            passwordField.getAttribute("type") === "password" ? "text" : "password";
          passwordField.setAttribute("type", type);
  
          var icon = type === "password" ? "🙈" : "👁️";
          this.textContent = icon;
        });
    }
  
    togglePasswordVisibility("{{ toggle_id }}", "{{ id }}");
  </script>