{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Default Title
        {% endblock %}
    </title>
    <link rel="stylesheet" href=" {% static 'style.css' %} ">
    {% tailwind_css %}
</head>
<body>
    {% if messages %}
    <div class="fixed top-0 left-0 right-0 mt-16 mx-4 bg-green-500 text-white p-4 rounded-md">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>